NEXT_PUBLIC_SUPABASE_URL=https://wadsauykotsxzgfnxmeo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndhZHNhdXlrb3RzeHpnZm54bWVvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA5NjMxODYsImV4cCI6MjA4NjUzOTE4Nn0.JyVISD3XZ9zrjOV-EOKi05c9zOQbwvPnSM6WTDdqW0Q